<div class="header-section">
  <h1>BNK48</h1>
</div>
<div class="container">
  <div class="card col-8">
    <div class="card-body">
      <form class="form" [formGroup]="editForm" *ngIf="editForm">
        <div class="form-group">
          <label for="text">Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="text">Default Image</label>
          <input type="text" class="form-control" formControlName="imgUrl">
          <!-- <img class="card-img-top" [src]="memberDetail.imgUrl" [alt]="memberDetail._id" [title]="memberDetail.name"> -->
        </div>
        <div class="form-group">
          <label for="text">Instagram</label>
          <input type="text" class="form-control" formControlName="instagramId">
        </div>
        <button class="btn btn-outline-primary" [disabled]="editForm.invalid" (click)="save()">Save</button>
        <button class="btn btn-outline-warning" [disabled]="editForm.dirty" (click)="reset()">Reset</button>
        <button class="btn btn-outline-primary back-btn" (click)="goBack()">Back</button>
      </form>
    </div>
  </div>
</div>